<!DOCTYPE html>
<html>
  <head>
    <title>Card Example</title>
  </head>

  <body>
    <div class="card">
      <h3>Reappear</h3>
      <div class="card-info">
        <span>Roll No: </span><%- request.rollno %><br />
        <span>Ruppees paid: </span><%- request.rs %><br />
        <span>Reference No: </span><%- request.refno %><br />
        <span>Course: </span><%- request.course[0].name %><br />
        <span>Email: </span><%- request.email %><br />
        <span>Date: </span><%- request.date %>
      </div>
    </div>
  </body>
</html>
